   MYSQL_HOST=caboose.proxy.rlwy.net
   MYSQL_USER=root
   MYSQL_PASSWORD=xDrjPUqarmAoIJjyoYJlTSMGgRyZJdpL
   MYSQL_DATABASE=lms
   MYSQL_PORT=39708

   VITE_API_URL=http://localhost:3001
   VITE_AI_API_URL=http://localhost:8000